#registers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register {
    width: 4rem;
    /*height: 32px;*/
    padding: 10px;
    background-color: lightgray; /* Default color */
    border: 1px solid #ccc;
    text-align: center;
    align-content: center;
}

.read-from {
    background-color: blue;
}

.written-to {
    background-color: green;
}