{% extends 'base.html' %}

{% block head %}
<title>MTG Simulator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script type="text/javascript">
    socket.on('redirect', function(data) {
        window.location.href = data["url"];
    });



</script>
{% endblock %}


{% block body %}
<div id="full-container">
    <div id="navbar" class="center">
      <h1>The Memory Hole</h1>
    </div>
    <div id="main-content">
        <div id="architecture">
            <div class="cache-container">
                <h2 class="cache-title">L1</h2>
                <div class="cache-setting">
                    Cache size: 2^<input class="num-box" type="number"> * <input class="num-box" type="number"> bytes
                </div>
                <div class="cache-setting">
                    Block size: 2^<input class="num-box" type="number"> bytes
                </div>
                <div class="cache-setting">
                    Associativity: <input class="num-box" type="number">-way
                </div>
            </div>
            <button>Add Cache +</button>
        </div>
        <div id="program_side">
            <textarea id="programText" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Submit Addresses" onclick="sendProgram()">
        </div>
    </div>
    
</div>

<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %}
