{% extends 'base.html' %}

{% block head %}
<title>MTG Simulator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/registers.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/visualizer.css') }}">
<script type="text/javascript">
    socket.on('redirect', function(data) {
        window.location.href = data["url"];
    });



</script>
{% endblock %}


{% block body %}
<div class="full-container" style="display: flex;">
    <div id="navbar" class="center">
      <h1>The Memory Hole</h1>
    </div>
    <div id="main-content">
        <div id="architecture">
            <button id="add-cache" onclick="addCache()">Add Cache +</button>
        </div>
        <div id="program_side">
            <textarea id="programText" rows="4" cols="50" placeholder="Source code.."></textarea><br>
            <textarea id="args" rows="1" cols="50" placeholder="Input space separated argument list.."></textarea><br>
            <input type="submit" value="Run Code" onclick="sendProgram()">
        </div>
    </div>
</div>


<div class="full-container" style="display: none;">
    <div id="navbar">
      <h1 id="instr_counter"></h1>
      <h1 id="instr"></h1>
    </div>
    <div id="registers">
        <div class="register">R0</div>
        <div class="register">R1</div>
        <div class="register">R2</div>
        <div class="register">R3</div>
        <div class="register">R4</div>
        <div class="register">R5</div>
        <div class="register">R6</div>
        <div class="register">R7</div>
        <div class="register">R8</div>
        <div class="register">R9</div>
        <div  class="register">R10</div>
        <div  class="register">R11</div>
        <div  class="register">R12</div>
        <div  class="register">R13</div>
        <div  class="register">R14</div>
        <div  class="register">R15</div>
        <div  class="register">R16</div>
        <div  class="register">R17</div>
        <div  class="register">R18</div>
        <div  class="register">R19</div>
        <div  class="register">R20</div>
        <div  class="register">R21</div>
        <div  class="register">R22</div>
        <div  class="register">R23</div>
        <div  class="register">R24</div>
        <div  class="register">R25</div>
        <div  class="register">R26</div>
        <div  class="register">R27</div>
        <div  class="register">R28</div>
        <div  class="register">R29</div>
        <div  class="register">R30</div>
        <div  class="register">R31</div>
    </div>
        <div id="left-visualizer">
            <div id="summary"></div>
            <div id="code-viewer"></div>
        </div>
        <div id="right-visualizer">
            <div id="caches">
                <div class="cache">
                    <h1>L1</h1>
                    <div class="cache-info">
                        <div class="split_addr"><span style="color: red;">000000000000000</span>|<span style="color: green;">000000000000</span>|<span style="color: blue;">00000</span></div>
                        <div class="set">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                        <div class="set">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="visualizer">

    </div>
</div>

<script src="{{ url_for('static', filename='scripts/constants.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/visualizer.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %}
